-
    var serviceLists = [
        {
            "id": "1",
            "title": "切妻屋根",
            "desc": "2枚の板を左右対称に合わせた三角屋根です。<br class='pc'>" +
                    "単純な構造の切妻屋根は、施工費がリーズナブルな上、雨漏りがしにくく、メンテナンスもしやすい、換気がしやすいなど多くのメリットがございます。<br class='pc'>" +
                    "デザインも和風、洋風の家ともになじみやすく、ソーラーパネルを設置しやすいことも特長です。<br class='pc'>" +
                    "日本でよく使われる屋根のため、個性が出しづらいタイプです。"
        }
    ]
each service in serviceLists
    .c-card-roof
        figure.c-card-roof__pic
            img(src=img + "roof-pic"+service.id+".webp" alt="")
        h3.c-card-roof__title !{service.title}
        p.c-card-roof__desc !{service.desc}
//- loop
- for (var x = 1; x <= 8; x++)
    li(class="aaa" + x "bbb") No.#{x}個
        img(src= src + "./images/sample0" + (x % 3 + 1) + ".png")

//- 三項演算子
li(class=pageClass =="company" ? "current": "")

//- svg
svg(width=22 height=22)
    title title
    use(href="#ico")

//
a(href="" target="_blank" rel="noopener" aria-label="新しいウィンドウで開きます")

//- picture
picture
    source(srcset=img + "" media="(max-width: 1023px)")
    img(src=img + "" loading="lazy")

picture
    source(srcset=img+"" media="(max-width: 1023px)")
    img(src=img+"")

//- slide
.swiper-container
    .swiper
        .swiper-slide
            img(src='http://placehold.jp/666666/ffffff/1280x600.png' alt='' width=1280 height=600)
        .swiper-slide
            img(src='http://placehold.jp/000000/ffffff/1280x600.png' alt='' width=1280 height=600)
        .swiper-slide
            img(src='http://placehold.jp/333333/ffffff/1280x600.png' alt='' width=1280 height=600)
        .swiper-slide
            img(src='http://placehold.jp/000000/ffffff/1280x600.png' alt='' width=1280 height=600)
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next